In [2]:
import pandas as pd
spain_data = pd.read_excel('Spain_Data.xlsx')
spain_data = spain_data.transpose()
spain_data.head()

,0,1,2,3
Unnamed: 0,"Spain, Economic Activity, Industrial Productio...","Spain, Exchange Rates, US Dollar per Domestic ...","Spain, International Reserves and Liquidity, R...","Spain, Prices, Consumer Price Index, All items..."
Jan 1960,NaN,0.016667,233.0,2.857368
Feb 1960,NaN,0.016667,253.0,2.855049
Mar 1960,NaN,0.016667,299.0,2.851573
Apr 1960,NaN,0.016667,326.0,2.853891

Performing a hypothesis test to assess whether there is evidence that the average level of nominal exchange rates changed post Bretton Woods

In [3]:
# Establishing variabe pre_rates and post_rates as the nominal exchange rates pre and post Bretton Woods exit
pre_rates = spain_data.iloc[1:139,1]
post_rates = spain_data.iloc[139:,1]

# Finding mean rates before and after exit
pre_average = pre_rates.mean()
post_average = post_rates.mean()
print('Bretton Woods average = x1 = ' + str(pre_average))
print('Post Bretton Woods average = x2 = ' + str(post_average))

# Finding standard error, using the standard deviations found in part 5.3.3. These are valid as the exclusion of the 10 month period surrounding the exit, means that the two groups are independent.
standard_error = (((0.013468**2)/132) + ((0.025096**2)/222))**(1/2)

print(standard_error)

Bretton Woods average = x1 = 0.01590752241354327
Post Bretton Woods average = x2 = 0.011605547893478101
0.0020521019886113293

Null Hypothesis:
Pre and Post exit averages are the same, or x1 - x2 = 0

In [4]:
#finding observed difference in means
difference = pre_average - post_average

#finding number of standard errors from the mean of 0
se_away = difference / standard_error

print(se_away)

2.096374616827082

Being greater than 1.96 standard errors away from the null difference of 0, means that there is sufficient evidence to reject the null hypothesis or to say that the average nominal exchange rate changed after leaving Bretton Woods.